.container {
    padding: 2rem;

    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgb(243, 247,247);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}